*{box-sizing: border-box;
  &:before,
  &:after{box-sizing: border-box;}
}
html,
body,
ul,
ol {
   margin: 0;
  padding: 0;
}
 
// Real WP Reset code, stolen from http://www.wpfill.me/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:20px;vertical-align:baseline;background:transparent;}article,aside,figure,footer,header,hgroup,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;vertical-align:baseline;background:transparent;}ins{background-color:transparent;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}table{font-size:inherit;font:100%;}select,input,textarea{font:99% sans-serif;}pre,code,kbd,samp{font-family:monospace,sans-serif;}body,select,input,textarea{color:#444;}h1,h2,h3,h4,h5,h6{font-weight:bold;}html{-webkit-font-smoothing:antialiased;}a:hover,a:active{outline:none;}a,a:active,a:visited{color:#607890;}a:hover{color:#036;}ul{margin-left:0;list-style:none;}ol{margin-left:0;list-style-type:decimal;}small{font-size:85%;}strong,th{font-weight:bold;}td,td img{vertical-align:top;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word;}input[type="radio"]{vertical-align:text-bottom;}input[type="checkbox"]{vertical-align:bottom;*vertical-align:baseline;}.ie6 input{vertical-align:text-bottom;}label,input[type=button],input[type=submit],button{cursor:pointer;}button{width:auto;overflow:visible;}.ie7 img{-ms-interpolation-mode:bicubic;}.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;}.hidden{display:none;visibility:hidden;}.visuallyhidden{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);}.invisible{visibility:hidden;}.group:before,.group:after{content:"";display:table;}.group:after{clear:both;}.group{zoom:1;}@media print {*{background:transparent!important;color:#444!important;text-shadow:none;}a,a:visited{color:#444!important;text-decoration:underline;}a:after{content:" (" attr(href) ")";}abbr:after{content:" (" attr(title) ")";}.ir a:after{content:"";}pre,blockquote{border:1px solid #999;page-break-inside:avoid;}img{page-break-inside:avoid;}@page{margin:0.5cm;}p,h2,h3{orphans:3;widows:3;}h2,h3{page-break-after:avoid;}}.aligncenter{display:block;margin:0 auto}.alignleft{float:left}.alignright{float:right}.wp-caption{border:1px solid #666;text-align:center;background:#ccc;padding:10px;margin:10px}#wpstats{display:none;}