@import "reset";

//**********  S02 Animate time **********

$show_first_white_cow_duration: 2000ms;
$show_second_white_cow_duration: 2000ms;
$show_white_cow_border_duration: 2000ms;

$hide_timer_duration : 500ms;

$show_first_text_duration: 500ms;
$show_first_text_delay: 2000ms;

$show_second_text_duration: 500ms;
$show_second_text_delay: 2000ms;

$hide_cow_duration: 100ms;
$hide_cow_delay: 99ms;

$change_img_duration: 1ms;
$change_img_delay: 199ms;

$one_zoom_duration: 5500ms;
$one_zoom_delay: 200ms;

//$two_zoom_duration: 1000ms;
//$two_zoom_delay: 2400ms;

$fill_up_duration: 12000ms;
$fill_up_delay: 6700ms;

$mottle_move_duration: 6500ms;
$mottle_move_delay: 6900ms;

@mixin timer($percent_start, $percent_end, $number_start, $steps) {

  $percent_counter: ($percent_end - $percent_start) / $steps;
  $percent_number: $percent_start;

  $new_steps: $steps + $number_start;

  @for $i from $number_start to $new_steps+1 {
    #{$percent_number}% { content: '#{$i}'; }
    $percent_number: $percent_number + $percent_counter;
  }

}

//********************


@keyframes show_first_white_cow {
  0% { height: 0px; }
  100% { height: 10%; }
}

@keyframes show_second_white_cow {
  0% { height: 10%; }
  100% { height: 50%; }
}

@keyframes show_third_white_cow {
  0% { height: 50%; }
  100% { height: 50%; }
}

@keyframes hide_first_black_cow {
  0% { height: 100%; }
  100% { height: 90%; }
}

@keyframes hide_second_black_cow {
  0% { height: 90%; }
  100% { height: 50%; }
}
@keyframes hide_third_black_cow {
  0% { height: 50%; }
  100% { height: 50%; }
}

@keyframes show_first_white_cow_border {
  0% { top: 36px; }
  100% { top: 59px; }
}

@keyframes hide_first_white_cow_border {
  0% { top: 59px; }
  100% { top: 59px; }
}

@keyframes show_second_white_cow_border {
  0% { top: 59px; }
  100% { top: 159px; }
}
@keyframes hide_second_white_cow_border {
  0% { top: 159px; }
  100% { top: 159px; }
}

@keyframes reset_percent {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reset_border {
  0% { top:36px; }
  100% { top: 36px; }
}
@keyframes reset_height_white {
  0% { height:0px; }
  100% { height: 0px ; }
}
@keyframes reset_height_black {
  0% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}


@keyframes hide_opacity {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes show_opacity {
  0% { opacity: 0;}
  100% { opacity: 1;}
}


@keyframes one_zoom {
  0% { width: 100%; top: 50%; left: 50%;}
  70% { width: 1570%; top: 117%; left: 143%;}
  100% { width: 5670%; top: 315%; left: 432%; }
}

@keyframes wave_dark {
  0% { x: -400px;}
  100% { x: 0; }
}

@keyframes fill_up_dark {
  0% { height: 0; y: 400px; }
  100% { height: 400px; y: 0px; }
}

@keyframes wave_light {
  0% { x: -800px;}
  100% { x: 0; }
}

@keyframes fill_up_light {
  0% { height: 0; y: 400px; }
  100% { height: 400px; y: 0px; }
}

@keyframes mottle_move {
  0% { top: -1px;}
  15% { top: -4px;}
  30% { top: 19px;}
  55% { top: -14px;}
  80% { top: 3px;}
  100% { top: -1px;}
}

@keyframes svg_mottle_move {
  0% { top: -181px;}
  15% { top: -184px;}
  30% { top: -161px;}
  55% { top: -194px;}
  80% { top: -177px;}
  100% { top: -181px;}
}

@keyframes svg_cow_move {
  0% { top: -1px;}
  15% { top: -4px;}
  30% { top: 19px;}
  55% { top: -14px;}
  80% { top: 3px;}
  100% { top: -1px;}
}
.container{ font-family: 'Open Sans', sans-serif; width: 1024px; height: 768px; background-image: url("../img/background.png"); background-size: 1024px 768px; background-repeat: no-repeat;}
.slide-content{ height: 540px; width: 882px; margin: 0 auto; background: rgba(0, 0, 0, 0.8); padding-top: 80px;}

.p2 { padding-top: 100px;

  //**********  Start Animate **********
  .unhide {
    .animate_box_2 {
      .animate_box_2_container {
        //&:before { animation: show_first_white_cow_border $show_white_cow_border_duration normal forwards; animation-play-state: paused;}
        &:after { animation: show_first_white_cow_border $show_white_cow_border_duration normal forwards; animation-play-state: paused;}
        .percent_box { animation: hide_opacity $hide_timer_duration normal forwards; animation-play-state: paused;
          //.percent_number:before { content: '0'; animation: timer_content $show_white_cow_duration normal forwards; animation-play-state: paused;}
        }
        .cow_box {
          //.change_img { animation: show_opacity $change_img_duration $change_img_delay normal forwards, one_zoom $one_zoom_duration $one_zoom_delay normal forwards, two_zoom $two_zoom_duration $two_zoom_delay normal forwards; animation-play-state: paused, paused, paused;}
          .cow_black_box { animation: hide_first_black_cow $show_first_white_cow_duration normal forwards; animation-play-state: paused;}
          .cow_white_box { animation: show_first_white_cow $show_first_white_cow_duration normal forwards; animation-play-state: paused;}
        }
      }
    }

    &.animate_step_1{
      .animate_box_2 {
        .animate_box_2_container {
          &:before { animation: show_first_white_cow_border $show_white_cow_border_duration normal forwards; animation-play-state: running;}
          &:after { animation: show_first_white_cow_border $show_white_cow_border_duration normal forwards; animation-play-state: running;}
          .cow_box {
            .cow_black_box { animation: hide_first_black_cow $show_first_white_cow_duration normal forwards; animation-play-state: running;}
            .cow_white_box { animation: show_first_white_cow $show_first_white_cow_duration normal forwards; animation-play-state: running;}
          }
        }
      }
      .animate_text {
        .first_text { animation: show_opacity $show_first_text_duration $show_first_text_delay normal forwards;}
      }
    }
    &.animate_step_2{
      .animate_box_2 {
        .animate_box_2_container {
          &:after { animation: show_second_white_cow_border $show_white_cow_border_duration normal forwards; animation-play-state: running;}
          .cow_box {
            .cow_black_box { animation: hide_second_black_cow $show_second_white_cow_duration normal forwards; animation-play-state: running;}
            .cow_white_box { animation: show_second_white_cow $show_second_white_cow_duration normal forwards; animation-play-state: running;}
          }
        }
      }
      .animate_text {
        .first_text { animation: hide_opacity $show_second_text_duration normal forwards;}
        .second_text { animation: show_opacity $show_second_text_duration $show_second_text_delay normal forwards;}
      }
    }
    &.animate_step_3{
      .animate_box_2 {
        .animate_box_2_container {animation: mottle_move $mottle_move_duration $mottle_move_delay normal forwards;
          &:before{ animation: hide_first_white_cow_border $show_white_cow_border_duration normal forwards, hide_opacity $hide_cow_duration $hide_cow_delay normal forwards;}
          &:after { animation: hide_second_white_cow_border $show_white_cow_border_duration normal forwards, hide_opacity $hide_cow_duration $hide_cow_delay normal forwards;}
          .percent_box { animation: hide_opacity $hide_cow_duration $hide_cow_delay normal forwards; animation-play-state: running;}
          .cow_box {
            .change_img { animation: show_opacity $change_img_duration $change_img_delay normal forwards, one_zoom $one_zoom_duration $one_zoom_delay normal forwards;}
            .cow_black_box { animation: hide_third_black_cow $show_second_white_cow_duration normal forwards, hide_opacity $hide_cow_duration $change_img_delay normal forwards;}
            .cow_white_box { animation: show_third_white_cow $show_second_white_cow_duration normal forwards, hide_opacity $hide_cow_duration $change_img_delay normal forwards;}
          }
        }
      }
      .animate_text {
        .second_text { animation: hide_opacity $hide_cow_duration normal forwards;}
      }
      .mottle_loading{
        .loading{animation: svg_mottle_move $mottle_move_duration $mottle_move_delay normal forwards;}
      }

      .cow_loading{
        .loading{animation: svg_cow_move $mottle_move_duration $mottle_move_delay normal forwards;}
      }

      .water_fill_dark,
      .water_fill_cow,
      .water_mottle { animation: show_opacity 1ms $fill_up_delay normal forwards, wave_dark 0.7s infinite linear, fill_up_dark $fill_up_duration $fill_up_delay normal forwards;}
      .water_fill_light,
      .water_fill_white { animation: show_opacity 1ms $fill_up_delay normal forwards, wave_light 0.7s infinite linear, fill_up_light $fill_up_duration $fill_up_delay normal forwards;}

      .dark_loading, .light_loading, .white_loading, .mottle_loading, .cow_loading { animation: show_opacity 1ms $fill_up_delay normal forwards; }
    }
    &.reset_animate{
      .animate_box_2 {
        .animate_box_2_container {
          &:before,&:after{ animation: reset_border 0s normal forwards}
          .percent_box { animation: reset_percent 0s normal forwards}

          .cow_box {
            .cow_black_box { animation: reset_height_black 0s normal forwards}
            .cow_white_box { animation: reset_height_white 0s normal forwards}
          }
        }
      }
    }
  }

  //******
  .animate_box_2 { width: 614px; height: 300px; margin: 0 auto; overflow: hidden; position: relative;
    .animate_box_2_container{ height: 100%; position: relative; top: -1px;
      &:after { content: ''; position: absolute; width: 100%; height: 1px; background: #fff; top: 36px; z-index: 11; }
      .percent_box{ color: #fff; position: absolute; top: 9px; right: 47%; font-size: 22px; font-weight: 600; min-width: 60px; text-align: right;
        .percent_number:before{ content: '0'; display: inline-block; }
      }
      .cow_box { position: relative; width: 397px; height: 248px; top: 36px; left: 0; margin: 0 auto;
        .change_img{ opacity: 0; width: 100%; height: auto;  position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
        .cow_black_box { overflow: hidden; width: 100%; height: 100%; position: absolute; left: 0; bottom: 1px;
          .cow_black_bg { position: absolute; width: 397px; height: 300px; background: url("../img/cow_black.svg") left bottom; bottom: 0px; left: 0px;}
        }
        .cow_white_box { overflow: hidden; width: 100%; height: 0; position: absolute; top: 1px; left: 0;
          .cow_white_bg { position: absolute; width: 397px; height: 300px; background: url("../img/cow_change.svg") left top; left: 0px;}
        }
      }
    }
  }

  .svg_var{ width: 0px; height: 0px; position: absolute; top: 0; left: 0;
    .mottle_move{ x: -59px; y: 62px; width: 614px; height: 400px; transform: translate(-68px, 109px);}
    .cow_move{x: -59px; y: 62px; width: 614px; height: 400px; transform: translate(-67px, 113px);}
    .cow_fill_white{ fill: #fff;}
    .cow_fill_black{ fill: #1D1D1B;}
    .transparent_cow{opacity: 1; x: 0; y: 0; width: 614px; height: 400px;}
    .text_mask{x: 0; y: 0; opacity: 1; fill: #fff; }
  }

  .water_fill_dark,
  .water_fill_cow,
  .water_mottle{ opacity: 0;}
  .water_fill_light,
  .water_fill_white{ opacity: 0;}

  .dark_loading, .light_loading, .white_loading, .mottle_loading, .cow_loading{ position: absolute; bottom: 0; right: -1px; height: 220px; overflow: hidden; opacity: 0;
    .loading{ position: relative; top: -180px;}
  }

  .dark_loading, .light_loading, .mottle_loading, .cow_loading{ height: 220px;
    .loading{ top: -180px;}
  }

  .light_loading{z-index: 13;}
  .dark_loading{z-index: 14;}
  .mottle_loading{z-index: 15;}

  .white_loading{z-index: 12; height: 300px;
    .loading{ top: -100px;}
  }
  .cow_loading{ z-index: 16; height: 400px;
    .loading{ top: 0px;}
  }

  .loading { x: 0px; y: 0px; width: 614px; height: 400px;
    .water_fill_dark { x: -400; y: 0; width: 1600px; height: 400px; }
    .water_fill_light { x: -400; y: 0; width: 1600px; height: 400px; }
    .water_fill_white { x: -400; y: 0; width: 1600px; height: 400px; }
    .water_fill_cow { x: -400; y: 0; width: 1600px; height: 400px; fill-opacity: 0.9;}
    .water_mottle { x: -400; y: 0; width: 1600px; height: 400px; fill-opacity: 0.9;}

  }
  .animate_text{text-align: center; width: 614px; margin: 25px auto 0 auto; position: relative; line-height: 1.4;
    .first_text, .second_text{ position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; color: #fff; font-size: 18px;}
  }
}